// Кнопки в header
.button {
  color: $textColor;
  &_size_s {
    width: 60px;
    // border-radius: 5px;
  }

  &_size_l {
    width: 220px;
    // border-radius: 8px;
    gap: 1.5rem;
  }
}
