// Кнопки в header
.button {
  color: $textColor;
  &_size_s {
    width: 62px;
    border-radius: 5px;
  }

  &_size_l {
    width: 224px;
    border-radius: 8px;
    gap: 1.5rem;
  }
}
