.examples {
  &__container {
  }
  &__items {
    height: 785px;
    background: url(@img/examples/background.webp) no-repeat center / cover;
    // background-repeat: no-repeat;
    // background-size: cover;
    // max-width: 1450px;
    // margin: 100px auto 0;
    // width: 100%;
    // !!! min?
    border-radius: 30px;
    // padding: 90px 115px;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; // +
  }

  &__item {
    height: 100%;
    flex: 0 0 45%;
    border-radius: 30px;
    border: 3px solid $borderColorLight;
    height: 100%;
    overflow: hidden;
    position: relative;

    // тень справа при наведении
    &_right {
      &::after {
        content: " ";
        display: inline-block;
        top: 0px;
        left: 0;
        transform: translateY(-100%);
      }
      &:hover::after {
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 1);
        height: 150%;
      }
    }

    // тень слева при наведении
    &_left {
      &::after {
        content: " ";
        display: inline-block;
        position: relative;
        top: 0px;
        height: 100%;
        right: -100%;
      }

      &:hover::after {
        transform: translateY(-100%);
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 1);
        height: 150%;
      }
    }
  }

  &__item:hover &__background-item {
    backdrop-filter: blur(8px);
  }

  &__item:hover &__hidden-text-item {
    opacity: 1;
    transform: translateY(-10px);
  }

  //размытие
  &__background-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__box-text-item {
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__title-item {
    margin: 0 0 40px;
    color: $textColorLight;
  }

  &__price-item {
    margin: 0;
    color: $textColorLight;
  }

  &__wrapper-text-item {
    &_direction_row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: end;
    }
  }

  // &__text-item {
  // font-weight: 700;
  // font-size: 3.3rem;
  // line-height: 48px;
  // color: $textColorLight;
  // }

  &__hidden-text-item {
    // font-weight: 400;
    // font-size: 1.3rem;
    color: $textColorLight;

    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }

  &__btn-item {
    background-image: url("@img/examples/btn.svg");
    // width: 67px;
    // height: 67px;

    &:hover {
      filter: grayscale(100%);
    }
  }
}
