.examples {
  background-image: url("@img/examples/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1450px;
  margin: 100px auto 0;
  width: 100%;
  height: 785px;
  border-radius: 30px;

  &__items {
    padding: 90px 115px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }

  &__item {
    border-radius: 30px;
    border: 2.9px solid #ffffff;
    height: 100%;
    overflow: hidden;
    position: relative;

    // тень справа при наведении
    &_place_right {
      &::after {
        content: " ";
        display: inline-block;
        top: 0px;
        left: 0;
        transform: translateY(-100%);
      }
      &:hover::after {
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 1);
        height: 150%;
      }
    }

    // тень слева при наведении
    &_place_left {
      &::after {
        content: " ";
        display: inline-block;
        position: relative;
        top: 0px;
        right: -100%;
      }

      &:hover::after {
        transform: translateY(-100%);
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 1);
        height: 150%;
      }
    }
  }

  &__item:hover &__background-item {
    backdrop-filter: blur(8px);
  }

  &__item:hover &__hidden-text-item {
    opacity: 1;
    transform: translateY(-10px);
  }

  //размытие
  &__background-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__box-text-item {
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__title-item {
  }

  &__price-item {
  }

  &__wrapper-text-item {
    &_direction_row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__text-item {
    // font-weight: 700;
    font-size: 3.3rem;
    // line-height: 48px;
    color: #ffffff;
  }

  &__hidden-text-item {
    // font-weight: 400;
    font-size: 1.3rem;
    color: #ffffff;

    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }

  &__btn-item {
    background-image: url("@img/examples/btn.svg");
    width: 67px;
    height: 67px;

    &:hover {
      filter: grayscale(100%);
    }
  }
}
