.examples {
  font-family: "TTNorms", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  &__text {
  }
  &__items {
  }
  &__item {
  }
  &__image-item {
  }
  &__title-item {
  }
  &__container-item {
  }
  &__square-item {
  }
  &__box-item {
  }
  &__price-item {
  }
  &__price-monthly-item {
  }
  &__button-item {
  }
  &__button {
  }
}
