.gallery {
  font-family: "TTNorms", Arial, Helvetica, sans-serif;
  margin-top: 100px;
  padding: 286px 70px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-image: url("@images/gallery/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;

  &__text {
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
  }

  &__btn {
    background-color: #ffffff;
    font-weight: 400;
    text-align: center;
    font-size: 1.7em;
    border-radius: 10px;
    color: #000000;
    padding: 1rem 2rem;
  }
}
