.infrastructure {
  max-width: 1450px;
  margin: 100px auto 0;

  &__title {
    // font-weight: 700;
    // line-height: 57px;
    color: #474a51;
    text-align: center;
  }

  &__subtitle {
    margin-top: 41px;
    // font-weight: 500;
    font-size: 3em;
    // line-height: 43px;
    color: #474a51;
    text-align: center;
  }

  &__box {
    margin-top: 4.1em;
    display: grid;
    grid-template-columns: 1fr 0.78fr;
    grid-template-rows: 1fr 0.5fr;
    row-gap: 33px;
    column-gap: 26px;
  }

  &__image {
    grid-column: 1;
    grid-row: 1 / 3;
    border-radius: 25px;
    object-fit: contain;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    &_place_city-communications {
      margin-top: 50px;
      gap: 18px;
      justify-content: center;
      padding: 0 240px;
    }
  }

  &__item {
    border-radius: 10px;
    background-color: #474a51;
    height: fit-content;
    padding: 10px;
  }
  //
  //   &__box-item {
  //   }

  &__image-item {
    border-radius: 5px;
    width: 63px;
    height: 63px;
  }

  &__title-item {
    margin: 0 25px 0 25px;
    display: inline-block;
    // font-weight: 400;
    font-size: 2em;
    // line-height: 29px;
    color: #ffffff;
  }

  &__text-item {
    // font-weight: 500;
    font-size: 2.8em;
    // line-height: 40px;
    color: #474a51;
  }

  &__text {
    margin-top: 35px;
    // font-weight: 500;
    font-size: 2.8em;
    // line-height: 39px;
    color: #474a51;

    &_place_city-communications {
      margin-top: 30px;
      text-align: center;
    }
  }
}
