.navigation {
  font-family: "TTNorms", Arial, Helvetica, sans-serif;
  padding: 10px 108px 17px;
  border-bottom: 1px solid #b8914d;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &_item {
  }

  &__link {
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
  }
}
