.presentation {
  font-family: "TTNorms", Arial, Helvetica, sans-serif;
  margin-top: 125px;
  padding: 168px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("@images/presentation/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;

  &__title {
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
  }
  &__text {
    margin-top: 28px;
    font-weight: 400;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
  }
  &__btn {
    margin-top: 73px;
    background: linear-gradient(0deg, #b8914d, #b8914d),
      linear-gradient(
        91.39deg,
        #dbbb85 -71.74%,
        #a3844f 56.82%,
        #b8914d 188.51%
      ),
      linear-gradient(90.24deg, #dbbb85 0%, #b8914d 49.4%, #c9a464 100%);

    font-weight: 400;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    color: #ffffff;
    padding: 25px 35px;
    transition: color 0.5s cubic-bezier(0, 2, 0, -0.1);

    &:hover {
      text-decoration: none;
      background: #ffffff;
      color: #000;
    }
  }
}
