.questions {
  font-family: "TTNorms", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  &__container {
  }

  &__title {
  }

  &__items {
    margin: 40px 0 20px;
  }

  &__item {
  }

  &__item-title {
    color: #474A51;
  }

  &__item-content {
  }
  .uk-accordion-title::before {
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
  }
}
