.questions {
  font-family: "TTNorms", Arial, Helvetica, sans-serif;
  max-width: 1450px;
  margin: 30px auto 0;

  &__container {
  }

  &__title {
    font-size: 4rem;
    font-weight: bold;
  }

  &__items {
    margin: 40px 0 20px;
  }

  &__item {
  }

  &__item-title {
    color: #474a51;
  }

  &__item-content {
    background: #f4f4fc;
    border-radius: 20px;
    padding: 10px 10px 10px 0;
  }
  .uk-accordion-title::before {
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
  }
}
