.slider {
  font-family: "TTNorms", Arial, Helvetica, sans-serif;
  margin: 33px 0px 0;
  max-width: 1690px;
  margin: 0 auto;
  overflow: hidden;

  &__container {
    position: relative;
    top: 0;
    left: 0;
  }

  &__items {
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 150px 124px;
    border-radius: 30px;
    aspect-ratio: 1690 / 760;
    // height: 760px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__title {
    font-weight: 700px;
    font-size: 64px;
    line-height: 77px;
    // Раскомментировать, если не использовать <br>
    // max-width: 70%;
  }

  &__text {
    margin-top: 9px;
    font-weight: 400px;
    font-size: 36px;
    line-height: 43px;
  }

  &__slider__box-button {
    margin-top: 36px;
    display: flex;
    gap: 30px;
  }

  &__button {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding: 12px 24px;
    width: fit-content;
    background: linear-gradient(0deg, #b8914d, #b8914d),
      linear-gradient(
        91.39deg,
        #dbbb85 -71.74%,
        #a3844f 56.82%,
        #b8914d 188.51%
      ),
      linear-gradient(90.24deg, #dbbb85 0%, #b8914d 49.4%, #c9a464 100%);

    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: color 0.5s cubic-bezier(0, 2, 0, -0.1);

    &:hover {
      text-decoration: none;
      background: #ffffff;
      color: #000;
    }

    &_color_not-main {
      background: none;
      background-color: #fff;
      color: #000000;
    }
  }
  
  .uk-light a {
    &:hover {
      color: #000;
    }
  }

  &__box-next {
    position: absolute;
    top: calc(50% - 34px / 2);
    right: -100px;
    width: 60px;
    height: 60px;
    transition: transform 0.5s;
    background-image: url("@images/slider/button-leaf.svg");
    border-radius: 50%;
  }
  
  &__button-next{
  }

  &__container:hover &__box-next {
    transform: translate(-330px, 0);
  }

  //Навигационные точки
  &__nav {
    position: absolute;
    bottom: 30px;
    left: 20%;
    right: 20%;
  }

  // Окрашивание неактивных навигационных точек
  .uk-dotnav > * > * {
    width: 15px;
    height: 15px;
    border: none;
    background-color: #fff;
  }

  // Окрашивание активной навигационной точки
  .uk-light .uk-dotnav > .uk-active > * {
    background-color: #b8914d;
  }
}
