.gallery {
  &__container {
  }

  &__content {
    // перенесла с gallery
    // padding: 286px 70px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end; // +
    gap: 50px;
    background-image: url("@img/gallery/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    min-height: 768px; // +
    // max-width: 1450px;
    // margin: 100px auto 0;
    padding: 100px;
  }

  &__text {
    // font-weight: 400;
    text-align: center;
    // font-size: 3rem;
    // line-height: 43px;
    color: $textColorLight;
    width: 90%;
  }

  &__btn {
    // background-color: $btnBgColor;
    // font-weight: 400;
    // text-align: center;
    // font-size: 1.7rem;
    // border-radius: 10px;
    // color: $btnColor;
    // padding: 1rem 2prem;
  }
}

@include media($tablet) {
}

@include media($mobile) {
  .gallery {
    &__content {
      min-height: 500px;
      padding: 50px 25px;
      gap: 30px;
    }
  }
}
