.header {
  background: linear-gradient(
    90.24deg,
    #dbbb85 0%,
    #b8914d 49.4%,
    #c9a464 100%
  );
  // // Окрашивание svg-картинок
  // & .button_size_l &__button-image path {
  //   fill: none !important;
  // }

  // & .button_size_l &__button-image path {
  //   stroke: $baseColor !important;
  // }

  // & .button_size_s &__button-image rect {
  //   fill: $baseColor !important;
  // }

  // Окрашивание кнопок Если слетело .uk-svg(fill: auto)
  & .button_size_l &__button-image path {
    fill: none !important;
  }

  & .button_size_l &__button-image path {
    stroke: $baseColor !important;
  }

  & .button_size_s &__button-image rect {
    fill: $baseColor !important;
  }
  //----------------------------------------------------

  &__container {
    max-width: 1700px;
    padding: 2rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // логотип и текст
  &__logo-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
  }

  &__text {
    // font-weight: 400;
    // font-size: 1.5rem;
    // line-height: 18px;
    max-width: 290px;
    color: $textColorLight;
    margin: 0; // +
  }

  // кнопки с месенджерами и контактами
  &__container-contacts {
    display: flex;
    gap: 68px;
  }

  // список с кнопками с контактами
  &__button-items {
    display: flex;
    gap: 14px;
    align-items: center;
    padding-left: 0; // +
    margin: 0; // +
    list-style-type: none; // +
  }

  //li
  &__button-item {
  }

  // кнопки с контактами
  &__button {
    height: 62px;
    // text-align: center;
    // border: none;
    // background-color: #ffffff;
    // font-weight: 400;
    font-size: 1.3rem;
    // line-height: 19px;
    // color: #000000;
    padding: 0;
  }

  &__button-image {
    // margin-right: 17px;
    // & svg {
    //   fill: "red";
    // }
  }

  //телефон и город
  &__box-contacts {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: end;
  }

  &__phone {
    margin: 0; // +
    // font-weight: 700;
    // font-size: 3rem;
    // line-height: 43px;
    color: $textColorLight;
  }

  &__city {
    margin: 0; // +
    // font-weight: 400;
    font-size: 2rem;
    // line-height: 29px;
    color: $textColorLight;
  }
}

// --------------------------------------------------------------------------------------------------------
.burger {
  display: none;

  &__button {
    position: relative;
    width: 40px;
    height: 40px;
    background: $bodyColor;
    border-radius: 50%;
    padding: 10px;
    border: 0;

    &_active {
      & .burger {
        &__line {
          &:nth-child(1) {
            top: calc(50%);
            transform: translate(-50%, -50%) rotate(-135deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            top: calc(50%);
            transform: translate(-50%, -50%) rotate(135deg);
          }
        }
      }
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    width: 20px;
    border-radius: 10px;
    background: $baseColor;
    transition: 0.3s;
    &:nth-child(1) {
      top: calc(50% - 6px);
    }
    &:nth-child(3) {
      top: calc(50% + 6px);
    }
  }
}
// ------------------------------------------------------------------------
.burger-menu {
    &__items {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        padding: 100px 20px 20px;
        margin: 0;
        background: $bodyColor;
        margin-bottom: auto;
    }

    &__item {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        border-bottom: 1px solid $borderColor;
        list-style-type: none;

        &_text {
            text-align: center;
        }
    }

    &__btn {
        width: 100%;
    }

    &__link {
        color: $textColorDark;
    }

    &__text {
        color: $textColorDark;
        font-size: 1.5rem;
    }

    &__social-btns {
        
        justify-content: space-between;
    }

    .header__social-btn {
        flex: 0 0 45%;
    }
}
// ------------------------------------------------------------------------
@include media($mobile) {
  .burger {
    display: block;
  }

  .header {
    &__box-contacts {
      gap: 0;
      align-items: center;
    }

    &__text,
    &__button-items {
      display: none;
    }

    //     &__top {
    //         padding: 20px 0px;
    //         gap: 20px;
    //     }

    //     &__logo-wrapper {
    //         flex: unset;
    //     }

    //     &__desr {
    //         display: none;
    //     }

    //     &__btns-wrapper {
    //         display: none;
    //     }

    //     &__contacts-wrapper {
    //         align-items: center;
    //     }

    //     &__menu-container {
    //         display: none;
    //     }
  }
}

