.navigation {
  padding: 10px 108px 17px;
  border-bottom: 1px solid $baseColor;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &_item {
  }

  &__link {
    // font-weight: 400px;
    font-size: 2rem;
    color: $textColorDark;
    // line-height: 29px;
  }
  &__text { // +
  }
}
