.questions {
  &__container {
  }

  &__title {
    // font-weight: bold;
  }

  &__items {
    // margin: 20px 0;
  }

  &__item {
    // padding-bottom: 15px;
  }

  &__item-title {
    // color: #474a51;
    margin: 0;
    font-size: 1.7rem;
  }

  &__item-content {
    background: $cardColor;
    border-radius: 20px;
    padding: 20px 0 10px;
  }
  .uk-accordion-title::before {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 100%;
  }
}

// .uk-accordion > :nth-child(n + 2) {
//   margin-top: 0;
// }

.uk-accordion-content {
  margin: 0;
}
.uk-accordion-title {
  color: $textColor;
}
