.questions {
  &__container {
    max-width: 1560px;
  }

  &__title {
    // font-weight: bold;
  }

  &__items {
    // margin: 20px 0;
  }

  &__item {
    // padding-bottom: 15px;
  }

  &__item-title {
    // color: #474a51;
    margin: 0;
    font-size: 1.7rem;
  }

  &__item-content {
    background: $cardColor;
    border-radius: 20px;
    padding: 20px 0 10px;
  }
  
}
@include media($tablet) {

}

@include media($mobile) {

}
