//2 блока:
// &_advantages
// &_purchase
.slider-mini {
  &__title {
    margin: 0;
    // font-weight: 700;
    // line-height: 57px;
    // color: #474a51;
    text-align: center;
  }

  &__subtitle {
    // font-weight: 700;
    font-size: 2.7rem;
    // line-height: 39px;
    text-align: center;
  }

  &__box {
    margin-top: 30px;
  }

  &__items {
    gap: 27px;
    width: 100%;
    justify-content: center;
  }
  &__item {
    border-radius: 30px;
    aspect-ratio: 340 / 450;
    max-height: 450px;
    max-width: 340px;

    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: no-repeat center / cover;

    &:hover {
      opacity: 80%;
    }
  }

  &__title-item {
    // font-weight: 700;
    font-size: 2rem;
    // line-height: 29px;
    color: $textColorLight;
    text-align: center;
  }

  &__btn-item {
    padding: 25px 22px;
    // background-color: #fff;
    // color: #000000;
    // font-weight: 400;
    font-size: 1.6rem;
    // line-height: 24px;
    // border-radius: 8px;

    // &:hover {
    //   opacity: 80%;
    // }
  }

  .uk-light a {
    color: $btnColor;
    text-decoration: none;
  }
}
